---
layout: default
---
<article class="post">

  <header class="post-header">
    <h5 class="post-title">{{ page.title }}</h5>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
